h2, h3{
    margin: 0; 
    padding: 0; 
}

.side-container{
    border: 1px solid black;
    top: 0; 
    position: sticky; 
    min-height: 50vh;
    display:flex; 
    flex-direction: column;
    justify-content: space-between;
}

.userProfile{
    border: 1px solid red;
    display:flex;
    align-items: center;
    padding: 5px;
}
.userProfile img{
    margin-right: 10px;
    max-width: 50px;    
    border-radius: 100%;
}

.suggestions{
    border: 1px solid green;
}
.suggestions img {
    margin-right: 10px;
    max-width: 50px;    
    border-radius: 100%;
}

.suggestion{
    padding:10px;
    display:flex;
    align-items: center;    
}