h2, h3{
    margin: 0; 
    padding: 0; 
}

.side-container{
    border: 1px solid black;
    top: 0; 
    position: sticky; 
    min-height: 70vh;
    display:flex; 
    flex-direction: column;
    justify-content: space-between;
}

.userProfile{
    box-shadow: 0px 5px 20px rgb(124, 123, 123);
    border-radius: 10px; 
    background-color: white;    
    display:flex;
    align-items: center;
    padding: 5px;
}
.userProfile img{
    margin-right: 10px;
    max-width: 50px;    
    border-radius: 100%;
}

.suggestions{
    border-radius: 10px; 
    box-shadow: 0px 5px 20px rgb(124, 123, 123);
    background-color: white;
    
}
.suggestions h2{
    padding:5px;
    text-align: center;
    border-bottom: 1px solid rgb(94, 94, 94);
}

.suggestions img {
    margin-right: 10px;
    max-width: 50px;    
    border-radius: 100%;
}

.suggestion{
    padding:10px;
    display:flex;
    align-items: center;    
}

.trends{
    box-shadow: 0px 5px 20px rgb(124, 123, 123);
    border-radius: 10px; 
    background-color: white;  
}

.trends h2{
    padding:5px;
    text-align: center;
    border-bottom: 1px solid rgb(94, 94, 94);
}