h3, h4{
    margin: 0; 
    padding: 0; 
}

.side-container{   
    padding:10px;
    top: 0; 
    position: sticky; 
    min-height: 70vh;
    display:flex; 
    background-color: white;
    border-radius: 10px; 
    flex-direction: column;
    justify-content: space-between;
}

.userProfile{          
    display:flex;
    margin: 0 auto;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid rgb(94, 94, 94);
}
.userProfile img{
    margin-right: 10px;
    max-width: 50px;    
    border-radius: 100%;
}

.suggestions{
    border-radius: 10px;    
  
    
}
.suggestions h3{
    padding:5px;
    text-align: center;
    border-bottom: 1px solid rgb(94, 94, 94);
}

.suggestions img {
    margin-right: 10px;
    max-width: 50px;    
    border-radius: 100%;
}

.suggestion{
    padding:10px;
    display:flex;
    align-items: center;    
}

.trends{
   
    border-radius: 10px; 
    background-color: white;  
}

.trends h3{
    padding:5px;
    text-align: center;
    border-bottom: 1px solid rgb(94, 94, 94);
}