.editProfile .profilepic{
    max-width: 150px;    
    border-radius: 50%;
}
.editProfile .ModalBody{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}
.editProfile .input-picture{
    display:flex;
    align-items: center;
}