body{
    margin:0; 
    border: 0; 
}

.layout{    
    display:grid; 
    min-height: 100vh;
    grid-template-columns: 15vw auto 15vw;
    grid-template-rows: 7vh auto 5vh; 
    grid-template-areas: 
                        "navigation header aside"
                        "navigation main aside"
                        "footer footer footer"; 

}

@media screen and (max-width: 900px) {
    .layout  {
        grid-template-columns: 20vw 80vw;
        grid-template-areas: 
                        "navigation header header"
                        "navigation main main"
                        "footer footer footer"; 
    }
  } 


.header{
    border: 2px solid rgb(146, 37, 37); 
    grid-area: header; 
}

.navigation{
    border: 2px solid rgb(54, 160, 54); 
    grid-area: navigation; 
}

.main{
    
    border: 2px solid rgb(196, 141, 141); 
    grid-area: main; 
}

.aside{
    border: 2px solid rgb(190, 190, 14);
    grid-area: aside; 
}

.footer{
    border: 2px solid rgb(216, 204, 180); 
    grid-area: footer; 
}