.post{
    max-width:60%;       
    margin: 10px auto;
    border-radius: 10px; 
    box-shadow: 0px 5px 20px rgb(94, 94, 94);
    background-color: white;
}
@media screen and (max-width: 580px) {
    .post{
        max-width: 90%;
    }

}
.user-details{
    padding:5px;
    height: 100%;
    display: flex;
    align-items: center;    
}
p{
    margin: 0;
    border:0;
    padding: 0 8px 5px;
}

.post h3{
    margin: 10px;   
    padding: 0;
}
.details-picture{       
    height: 100%;
    width: 3rem;    
}
.details-picture img{    
    max-width: 100%;    
    border-radius: 100%;
}

.post-header{    
    height:10%;   
    display:flex;
    justify-content: space-between;
    padding:5px;
}
.post-picture{    
    max-height:70%;
}
.post-pic{
    max-width: 100%; 
    display:block;
    margin: 0 auto;
      
}
.post-icons{    
    height:10%;
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.post-icons svg{
    margin: 5px 10px;
}
.comment-section{
    padding:5px;
}
